<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English Timeline</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

  <h1>
    Literary Critisism Timeline
  </h1>

    <div class="container">


      
        <div class="leftbox">
          <div class="left_imgs">
            <img src="images/2672629-200.png" alt="Marxism">
            <img src="images/229069-200.png" alt="Post Colonialism">
            <div class="img3">
              <img src="images/985248-200.png" alt="Literary Criticism">
            </div>
            <div class="img4">
              <img src="images/1098395-200.png" alt="Archetype">
            </div>
            <div class="img5">
              <img src="images/4101406-200.png" alt="Jeff Bezos">
            </div>
          </div>
        </div>
        <div class="rightbox">
          <div class="rb-container">
            <ul class="rb">
              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp">
                  Previous Knowledge About Literary Critisism
                </div>
                <div class="item-title">What Do You Already Know?: <br> - It is a way of interpreting and understanding a text to figure out its meaning.
                  <br>
                   - You have to analyze the structure and style of the text. 
                   <br>
                  - It communicates the interpretation through lit theory criteria.
                  <br>
                
                  <br>
                  Questions:
                  <br>
                  - Who first conceptualized literary criticisms?
                  <br>
- How did it become an essential tool for literary analysis? 

                  </div>
      
              </li>
              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp">
                  Archetypal Lens
                </div>
                
                <div class="item-title">Key Learning: <br>- Archetypes were formed during the earliest stages of human development and shape the perceptions of the world. This concept is universal and inherited from the experiences of one's ancestors.
                  <br>
                   - Before modern civilizations inventions of science or facts, rather they used stories. This is where archetypes were formed, early patterns in stories to pass down information. 

                   <br>
                  - Archetypes are shared across cultures although there was no physical communication between each other and similar archetypes could be separated by thousands of years.
                  An example of an archetype is the “wise old man”, stories where another character who is incapable of doing a certain task gets help from this wise old man.
                 
                  <br>
                  <br>
                
                
                  Specific Refrences:
                  <br>
                  - In the short story “Where the Wild Things Are!” a specific character named Max really encompases the archetype “The Trickster”. The Trickster archetype is defined as someone who openly questions and mocks authority, encourages impulse and enthusiasm, seeks new ideas and destroys the convention.
                  <br>
                  <br>
                  Questions:
                  <br>
                  - What really causes people to mask their true selves from others rather than letting them know who they really are?
                  <br>
                  - Do people who mask themselves really know that they are masking themselves and have a persona?
                </li>
                  
                
      
            
      
              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp">
                  Marxism
              
                  <br>
                  
                </div>
                <div class="item-title">Key Learning: 
                <br> - Karl Marx was the inventor of Marxism born in  Germany, he was a philosopher by trade. 
                <br> - He wrote the book called “The Communist Manifesto” alongside Freidrich Engles.
                <br> - Marxism says that society is sectioned off into classes that are determined by privilege in the economic sense. People apart from the lower class have less financially privileged and are physically and economically oppressed by government structures or other institutions. An example is whoever produces goods controls the way we need or the way we think. 
                <br> - The Bourgeois is a capitalist class that owns the means of profits. On the other hand, proletariats are a social class that does not own the mean of production and are the working class
                <br> - The “rich” who get “richer” and the “poor” who remain or get “poorer”. 
                <br> - Capitalism is an economic system in which the means of production are privately owned and compete to produce goods for the general public working class. Then tend to “prey” on its consumers using interpellation. 
                <br> - Commodification is buying material not for its intended use rather giving a persona of sorts to impress others. 
                <br> - Displaying your economic status through purchasing luxurious material goods. An example of this could be someone buying a designer shoe for the sole or main purpose of displaying it. 
                <br>
                <br> Specific Refrences:
                <br> - An example of marxism is in the Louis Vuttion ad which highlights bourgeois and classism. It portrayed an actress's way of life differing from the opposite end of the spectrum which would be proletariats. 
                <br> - A similar ad was the Rolls Royce commercial which showed a lot of bourgeois. The ad focused on 2 very well-kept people who wore expensive clothes, looked appealing and had large expensive clothes. It showed a car which many people know is very expensive, almost 3 quarters of a million dollars which most of the proletariat working class wouldn't even dream of owning. The commercial shows that if you had that car you would get the attention of others (shown by the women in the commercial).
                <br> - Another reference to marxism is in the advertisement shown to us in the slides in the beach girl advertisment
                <br> - It is selling the ideology of having a lower weight to look a certain way in “beach” clothing while selling a weight loss supplement. It uses pathos and Marxism to try to sell it to customers. 
                <br>
                <br>
                Questions:
                <br> - How would one come out of the lower economic classes with such oppressions
                <br> - Would it be seen as a bad thing for a proletariat to become a bourgeoisie? 
                <br> - Are the bourgeoisie seen as a bad thing? Are they a necessary evil? 

                

                

                </div>
      
              </li>
              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp">
                  Post Colonial Lens
                </div>
                <div class="item-title">Key Learning:<br>It's defined as a time period after colonialism.
                  <br>
                  - It's a body of thought concerned with accounting for the political, economic, historical and social impact of colonialism. 
                  <br>
                  - There are 3 stages in postcolonialism which are Initial awareness, overfall struggle for cultural and ethnic autonomy, and growing stage. Initial awareness includes social and cultural issues that the colonized state enforced. 
                  <br>
                  <br>
                  Specific Refrences:
                  <br>
                   - The Indigenous people of Canada had their land taken away during and after colonialism. As people, they have been colonized. They were forced to learn another culture and way of life. A very sad but true thing that happened was that during that colonialism the colonists stripped indigenous families of their children to rip apart any culture and ethnic relations to change and reflect the ideologies and the appearance of said colonists in residential schools. 
                  <br>
                  <br> Questions:
                  <br>
                  
                  - How different would certain places be if they weren't affected by colonialism?
                  <br>
                  - How much difference would it be in the daily lives of the people who live there? 
                  <br>
                  - Would it be better if there wasn't colonialism?


                  </div>

                <li class="rb-item" ng-repeat="itembx">
                  <div class="timestamp">
                    Analyze Text: Jeff Bezos’s New Superyacht Forces the Dismantling of Historic Dutch Bridge
                    <br>
                        
                      
                      <div class="item-title">Marxism Lens:
                      <br>
                      - The 2 articles I have cited below are about a billionaire's new superyacht. The billionaire in question is Jeff Bezos who has an astounding net worth of around $220 Billion USD.  
                      <br>
                      - The multi-billionaire purchased a billion-dollar superyacht that needs to go through a bridge in the Netherlands to be able to reach him as it was built outside of the US where Bezos resides. The people in charge of delivery soon realized the boat is too large to pass the historic bridge and would require a dismantling if the yacht ever wanted to touch the sea. The dutch city agreed to dismantle the bridge so it can pass through.
                      <br>
                      “This man has earned his money by structurally cutting staff, evading taxes, avoiding regulations and now we have to tear down our beautiful national monument?” Rotterdam politician Stephan Lewis wrote on Twitter. “That is really going too far.”
                      <br>
                      <br>
                      Evidence of Marxism:
                      <br>
                      - Marxism states that there are classes that society is divided into economic classes which creates tension between different classes. 
                      <br>
                      - In the second article, it says that people will vandalize the very wealthy Bezos’s superyacht that will require a historic bridge in a small city to be displaced. This proves there is tension between different social classes. The Dutch people are also quite physically oppressed and don't have much say as Bezos is footing the bill creating jobs which the government gladly signed off on. 


                    </div>
                    

                    <br>
                    <br>
                    
                    <br>

                    </div>
          
                  </li>
                  
      
              </li>
      
            </ul>
      
          </div>

<a href="https://docs.google.com/document/d/e/2PACX-1vSXnfCr6KCt2DXrT2wr4PEvk5QR9m50ro7s9m7Fogv3UXUOgWHs23gZCGGD873zRzPLvr4DcvpkLO0F/pub" class="btn1" target="_blank" rel="noopener noreferrer" >
  Click Here For The Full Docs
</a>
        
        </div>
      </div>   
</body>
</html>